body{
    font-family: Arial, Helvetica, sans-serif;
    padding :20px;

}
.sidebar{
    width:250px;
}
input ,select,button{
    display:block;
    margin :10px 0;
    padding :5px;
    width:200px;
}
.card{
    border:1px solid #ccc;
    padding:10px;
    margin:10px;width:250px;
    display:inline-block;
}
.card img{
    width:100%;
}